In [1]:
# 读取D:\workspace\xiaoyao\data\stock_minutely_price目录，检查*.parquet文件的数量
import os
import pandas as pd

dir_path = r'D:\workspace\xiaoyao\data\stock_minutely_price'
files = os.listdir(dir_path)
parquet_files = [f for f in files if f.endswith(".parquet")]
print(f"目录 {dir_path} 下有 {len(parquet_files)} 个parquet文件")

目录 D:\workspace\xiaoyao\data\stock_minutely_price 下有 5447 个parquet文件

In [3]:
df = pd.read_parquet(os.path.join(dir_path,'002936.XSHE.parquet'))
df

,date,stock_code,time,open,close,high,low,volume
0,2025-10-09,002936.XSHE,2025-10-09 09:31:00,2.81,2.83,2.83,2.81,3026464.0
1,2025-10-09,002936.XSHE,2025-10-09 09:32:00,2.83,2.81,2.83,2.81,164268.0
2,2025-10-09,002936.XSHE,2025-10-09 09:33:00,2.83,2.81,2.83,2.81,168464.0
3,2025-10-09,002936.XSHE,2025-10-09 09:34:00,2.81,2.83,2.83,2.81,388410.0
4,2025-10-09,002936.XSHE,2025-10-09 09:35:00,2.83,2.83,2.83,2.81,543244.0
...,...,...,...,...,...,...,...,...
475,2025-10-10,002936.XSHE,2025-10-10 14:56:00,2.87,2.86,2.87,2.86,271270.0
476,2025-10-10,002936.XSHE,2025-10-10 14:57:00,2.87,2.87,2.87,2.86,268597.0
477,2025-10-10,002936.XSHE,2025-10-10 14:58:00,2.86,2.86,2.86,2.86,7176.0
478,2025-10-10,002936.XSHE,2025-10-10 14:59:00,2.86,2.86,2.86,2.86,0.0
479,2025-10-10,002936.XSHE,2025-10-10 15:00:00,2.86,2.87,2.87,2.86,1456248.0