In [1]:
import pandas as pd

df = pd.read_parquet(r'D:\workspace\xiaoyao\data\factortable.parquet')
df.head()

,date,stock_code,open,close,low,high,volume,money,factor,high_limit,...,order_book_volume_ratio,obv_ratio_vs_yesterday,obv_ratio_vs_5d_avg,turnover_ratio_vs_yesterday,turnover_ratio_vs_5d_avg,money_ratio_vs_yesterday,money_ratio_vs_5d_avg,amplitude,amplitude_vs_yesterday,amplitude_vs_5d_avg
0,2025-01-02,000001.XSHE,1630.12,1588.43,1582.87,1635.68,1309344.0,2.102923e+09,138.970157,1788.55,...,1.106891,NaN,NaN,NaN,NaN,NaN,NaN,3.247947,NaN,NaN
1,2025-01-03,000001.XSHE,1589.82,1581.48,1578.70,1603.72,830884.0,1.320521e+09,138.970157,1746.85,...,2.388428,2.157780,2.157780,0.634531,0.634531,0.627945,0.627945,1.575140,0.484965,0.484965
2,2025-01-06,000001.XSHE,1581.48,1589.82,1559.25,1595.38,781129.0,1.234306e+09,138.970157,1739.91,...,6.639049,2.779673,3.798823,0.940168,0.729954,0.934711,0.721090,2.284569,1.450391,0.947347
3,2025-01-07,000001.XSHE,1587.04,1599.55,1580.09,1602.33,538146.0,8.583290e+08,138.970157,1748.24,...,0.444144,0.066899,0.131476,0.688952,0.552650,0.695394,0.552839,1.398901,0.612326,0.590448
4,2025-01-08,000001.XSHE,1598.16,1598.16,1584.26,1616.22,764471.0,1.223599e+09,138.970157,1759.36,...,1.405289,3.164042,0.531375,1.420602,0.883956,1.425559,0.887296,1.998062,1.428309,0.939540

In [2]:
df.columns

Index(['date', 'stock_code', 'open', 'close', 'low', 'high', 'volume', 'money',
       'factor', 'high_limit', 'low_limit', 'avg', 'pre_close', 'paused',
       'zjw_industry_code', 'zjw_industry_name', 'jq_l1_industry_code',
       'jq_l1_industry_name', 'jq_l2_industry_code', 'jq_l2_industry_name',
       'sw_l1_industry_code', 'sw_l1_industry_name', 'sw_l2_industry_code',
       'sw_l2_industry_name', 'sw_l3_industry_code', 'sw_l3_industry_name',
       'capitalization', 'circulating_cap', 'market_cap',
       'circulating_market_cap', 'turnover_ratio', 'pe_ratio', 'pe_ratio_lyr',
       'pb_ratio', 'ps_ratio', 'pcf_ratio', 'current', 'auc_volume',
       'auc_money', 'a1_p', 'a1_v', 'a2_p', 'a2_v', 'a3_p', 'a3_v', 'a4_p',
       'a4_v', 'a5_p', 'a5_v', 'b1_p', 'b1_v', 'b2_p', 'b2_v', 'b3_p', 'b3_v',
       'b4_p', 'b4_v', 'b5_p', 'b5_v', 'return_0d', 'return_1d', 'return_2d',
       'return_3d', 'return_4d', 'return_5d', 'ma5', 'ma10', 'ma20', 'ma60',
       'rsi14', 'macd_line', 'signal_line', 'macd_hist', 'bollinger_mid',
       'bollinger_upper', 'bollinger_lower', 'vwap', 'momentum14',
       'volume_ratio_vs_yesterday', 'volume_ratio_vs_5d_avg',
       'auc_volume_ratio_vs_yesterday', 'auc_volume_ratio_vs_5d_avg',
       'volatility', 'buy_total', 'sell_total', 'order_book_volume_ratio',
       'obv_ratio_vs_yesterday', 'obv_ratio_vs_5d_avg',
       'turnover_ratio_vs_yesterday', 'turnover_ratio_vs_5d_avg',
       'money_ratio_vs_yesterday', 'money_ratio_vs_5d_avg', 'amplitude',
       'amplitude_vs_yesterday', 'amplitude_vs_5d_avg'],
      dtype='object')